<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find ihmc_ros_control)/configurations/jvm_param.yaml" command="load"/>

    <param name="rrbot/ihmc_ros_control_java_bridge/working_dir" value="/home/jesper/workspace/ROS/catkin_ws" />
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/rrbot" args="ihmc_ros_control_java_bridge"/>
    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/rrbot/joint_states" />
    </node>

</launch>
